
.game h1 {
  @apply pt-1;
}

.game .rows {
  @apply flex justify-center
    mb-[11px] gap-x-[11px]
    sm:mb-[20px] sm:gap-x-[20px];
}
.game .ball {
  @apply rounded-full
    h-[110px] w-[110px] 
    sm:h-[200px] sm:w-[200px];
}
.active-ball {
  @apply bg-white-c-4;
}

.balls {
  @apply relative;
}
#start-game {
  @apply bg-[#000]
    bg-opacity-20
    backdrop-blur-md
    absolute 
    rounded-full
    top-0
    bottom-0
    my-auto
    left-0
    right-0
    mx-auto
    w-[330px] h-[330px]
    sm:w-[600px] sm:h-[600px];
}
