@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Comfortaa", cursive;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    347deg,
    rgba(0, 0, 0, 1) 19%,
    rgba(19, 15, 64, 1) 73%
  );
  @apply min-h-screen
    pt-5
    text-white-c-1;
}
h1 {
  @apply text-center
    text-4xl sm:text-5xl md:text-6xl
    py-8;
}

.App > div {
  @apply container mx-auto;
}

.link {
  @apply transition-all 
  duration-200
  relative

  text-3xl md:text-5xl
  mb-6

  block w-fit
  mx-auto

  hover:text-white-c-2 
  active:text-white-c-4
  hover:after:w-1/2
  hover:after:left-1/4
  hover:after:bg-white-c-2

  active:after:w-full
  active:after:left-0
  active:after:bg-white-c-4;
}
.link::after {
  content: "";
  @apply absolute
  bg-white-c-1
  transition-all 
  duration-200
  w-1 h-0.5 md:w-1.5 md:h-1 rounded-lg
  -bottom-0.5 md:-bottom-1 left-1/2;
}
